@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700;800&display=swap');

@font-face {
    font-family:'MadeGentle';
    src: url(../Fonts/MadeGentle.otf) format('opentype');
}
@font-face {
    font-family: 'Anglicus';
    src: url(../Fonts/AnglicusOpti-Bold.otf) format('opentype');
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    padding: 0px;
    margin: 0px;
}
    html{
        height: 100%;
    }
    body{
        display: flex;
        height: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: #f3e1d3;
    }
    main{
        width: 250px;
        height: 550px;
        margin: 20px;
        border-radius: 10px;
        overflow: hidden;
        background-color: white;
    }
    .img{
        height: 250px;
        background: url(../images/image-product-mobile.jpg)top center no-repeat;
        background-size: cover;
    }
    .conteudo{
        padding: 10px;
    }
    .defult{
        margin-top: 10px;
    }
    .perfume{
        color: gray;
        letter-spacing: 5px;
        font-size: smaller;
        font-family: Arial, Helvetica, sans-serif;
    }
    .price{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    .price1{
        font-weight: 500;
        font-size: 2em;
        margin-right: 20px;
        color: #278668;
        font-family: 'Anglicus', serif;
    }
    .price2{
        font-size: smaller;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }
    .btn{
        height: 40px;
        width: 230px;
        margin-top: 5px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: #278668;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        cursor: pointer;
    }
    .descrition{
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
    }
    h2{
        font-weight: 800;
        font-family: 'Anglicus',sans-serif;
    }